@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.mobile-look {
  position: relative;
  width: 375px;
  height: 5410px;
  background: #f7f7f9;
}

.intro-page {
  position: absolute;
  width: 375px;
  height: 718px;
  background: #fff;
}

.nav-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 25px;
  left: 12px;
  top: calc(50% - 40px / 2);
  color: #6070ff;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 25px;
  left: 12px;
  top: calc(50% - 40px / 2);
  color: #6070ff;
}

a {
  text-decoration: none;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  width: 76px;
  height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px 5rem 24px;
  gap: 12px;
  position: absolute;
  width: 375px;
  height: 604px;
  left: calc(50% - 375px / 2);
  top: 92px;
}

@media (min-width: 320px) {
  main {
    background: url(images/mobile@2x.svg);
    background-repeat: no-repeat;
  }
}

.main-header {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 52px;
  width: 327;
  height: 150px;
  padding-bottom: 16px;
  color: #172b4d;
}

.short-para {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 24px;
  width: 327;
  height: 146px;
  color: #344563;
  padding: 1rem 1px;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 117px;
  height: 24px;
}

.social-media-title .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 117px;
  height: 24px;
}

.contact-me {
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 24px;
  width: 140px;
  height: 24px;
  padding-top: 36px;
  color: #7f8cff;
}

.social-icons {
  display: flex;
  gap: 1rem;
  padding: 24px 0;
  align-items: center;
  margin-top: 0.5rem;
}

.icon {
  display: flex;
}
